---
import Background from '../components/Background.svelte';
import Hero from '../components/Hero.svelte';
import Features from '../components/Features.svelte';
import Steps from '../components/Steps.svelte';
import Footer from '../components/Footer.svelte';
import { ClientRouter } from 'astro:transitions';
---

<html lang="fr" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content="Transformez vos idées en prompts structurés avec l'Architecte. Un Bot Discord puissant utilisant la méthode CO-STAR pour générer du contenu IA de qualité." />
		<title>Architecte de Prompts</title>
        
        <ClientRouter />
	</head>
	<body class="bg-slate-900 text-white antialiased">
		
        <div class="fixed inset-0 z-0" transition:persist>
            <Background client:load />
        </div>

        <main class="relative z-10">
            <Hero />
            <Features client:visible />
            <Steps client:visible />
            <Footer client:visible />
        </main>

	</body>
</html>